<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countries Data</title>
    <script src="{{url_for('static', filename='js/view_js.js')}}"></script>
  </head>
  <body>
    <div class="container">
      <h1>All countries drop down list</h1>
      <label>countries:</label>
        <select id="countries" name="countries"><option>Select Country</option></select>
      
      <option></option>
    </div>
  </body>
</html>